{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if deal %}
    <span class="skills">Click on the link to claim the deal.</span>
    <form action="." method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-lg">Buy</input>
    </form>
{% else %}
	<img class="img-responsive" src="{% static 'img/profile.png' %}" alt="">
	<span class="skills">{{ status }}</span>
{% endif %}
{% endblock %}
