{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if deal %}
    Click on the link to claim the deal.
    <form action="." method="post">
        {% csrf_token %}
        <input class="btn btn-large" type="submit">Buy</input>
    </form>
{% else %}
	<img class="img-responsive" src="{% static 'img/profile.png' %}" alt="">
	<span class="skills">Woot! You just claimed the deal! Congratulations!</span>
{% endif %}
{% endblock %}
