{% extends 'base.html' %}

{% block content %}
<span class="skills">
{{ deal.deal_name }}
</span>

<form name="dealregistrationform" action="." method="post">
    {% csrf_token %}
    <input class="btn btn-large btn-primary" type="submit"/>
</form>
{% endblock %}
