{% extends 'base.html' %}

{% block content %}
<p>You are successfully registered for the deal {{ deal.deal_name }}.</p>
<p>Please use the link from the email at {{ deal.starts_on|date:'h:i a' }} on {{ deal.starts_on|date:'D dS N Y' }} to claim the deal. Buckle up! Limited deals available.</p>
{% endblock %}
